@import "../../assets/global";

#sidebarMenu-container {
  position: absolute;
  background-color: whitesmoke;
  left: 0;
  top: 40px;
  padding: 5px;
  height: max-content;
  width:fit-content;
  border: solid;
  border-radius: 20px;
  display: grid;
  box-shadow: 2px 2px 15px #0b0c0cea;
  text-align: left;

  .menu-options{
    border:solid 1.5px $received-background;
    border-radius: 18px;
    padding:2px;
    margin: 2px 0px;

    .icon-input-span{
      display:flex;
      margin: 8px 0;

      #add-icon{
        color: $received-background;
      }

      #new-room-input{
        width: 80%;
      }
    }

  }

  button {
    color: $received-background;
    text-align: left;
    border-radius: 20px;
  }

  
}
