$font-labels: "Inconsolata";
$font-descriptions: "Raleway", sans-serif;
$font-color: rgba(73, 69, 69, 0.747);
$font-color-btn: rgba(26, 24, 24, 0.956);
// $theme-purple: #d5b6fb;
// $theme-purple-darker: #caacee;
// $theme-green: #63e4cf;
// $font-color-black: #39393b;
// $theme-darkmode-bg: #30435c;
// $theme-darkmode-header-pink: pink;

$skyblue: rgba(246, 248, 248, 0.93);
$gray: #a5aaaa86;
$red: rgb(243, 111, 111);
$sent-background:  rgba(176, 226, 239, 0.747);
$received-background: rgb(51, 143, 176);