#chats-div{
  border-radius: 20px;
  border-width:20px;
  border:solid;
  border-color: #49c350f4;
  border-width: 1.5px;
  box-shadow: 2px 2px 15px #0bd47dea;
  height: 650px;
  display:flex;
  flex-direction: column;

  #messages-container{
    height: 100%;
    overflow-y: scroll;
    overflow-anchor: auto;
  }
  
  h4{
    color:rgb(181, 181, 183);
  }

  button {
    background-color: rgba(17, 47, 47, 0.017);
    color:rgb(234, 234, 234);
    font-size: 18px;
  }

  #clear{
    background-color: rgb(243, 111, 111);
    color:rgba(26, 24, 24, 0.956);
  }
  
  #refresh{
    border:solid;
    border-width:1px;
  }
}

#message-form{
  display:flex;
  height:26;
  margin:auto 5px 10px 5px;
  border-top:solid;
  border-color:rgb(181, 181, 183);
  padding-top:10px;

  input {
    border-radius: 10px;
    margin-left:3px;
    margin-right: 3px;
    background-color: rgb(234, 234, 234);;
  }

  button {
    padding: 5px;
    border:none;
    color:rgb(54, 53, 53);
    background-color: #5ddf95;
    border-radius: 10px;
  }
}

#chat-buttons{
  display:flex;
  justify-content: space-between;
  border-bottom:solid;
  border-color:rgb(181, 181, 183);
  border-width:1.3px;
  
  button{
    padding:5px;
    right:0%;
    margin:10px;
    border-radius: 10px;
    
  }
}

#back-signout-buttons {
  justify-content: space-between;
  display:flex;
  margin-bottom:5px;

  button{
    position:relative;
    background-color: transparent;
    color:rgb(238, 234, 234);
    border:none;
    
    z-index:2;
    &:hover{
      transform: scale(1.5);
    }

  }
}

