@import "global";

#signout-button {
  background-color: transparent;
  color: rgb(73, 69, 69);
  border: none;
  display: flex;
  justify-content: end;
  margin: 0 100px 10px 0;
  width: 100%;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  height: 85vh;
  font-family: $font-descriptions;
  padding: 15px;
  margin-left: 15px;

  #chatroom-div-hidden {
    transform: translateX(-500px); /* Move sidebar off-screen */
    transition: transform 1s ease;
    height: 90vh;
  }

  #chatroom-div {
    color: rgba(73, 69, 69, 0.747);
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    height: 85vh;
    min-width: 350px;
    box-shadow: 2px 2px 15px #606464ea;

    #chatroom-header-container {
      display: flex;
      justify-content: center;
      color: white;
      background-color: $received-background;
      position: relative;
      z-index: 2;

      #chatroom-header {
        margin: 0;
        padding: 15px 0;
      }

      #menu-icon {
        position: absolute;
        left: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
      }
      
      #sidebar-icon {
        position: absolute;
        right: 8px;
        top: 8px;
        width: 30px;
        height: 30px;
      }
    }

    #chatroom-container {
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-color: $gray #dbe0e6; /* Thumb color and track color for firefox*/
      border-radius: 0 0 15px 0;
    }

    /* Show scrollbar on hover for chrome*/
    &:hover #chatroom-container {
      padding-right: 0px; /* Remove padding to show scrollbar */
      scrollbar-color: $gray #dbe0e6; /* Thumb color and track color on hover */

      &::-webkit-scrollbar {
        width: 8px;
        background-color: #dbe0e6; /* Scrollbar track color */
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray; /* Scrollbar thumb color */
      }
    }

    /* Hide scrollbar track and thumb */
    #chatroom-container::-webkit-scrollbar {
      width: 0; /* Remove scrollbar track */
      height: 0; /* Remove scrollbar track */
      background-color: #dbe0e6;
    }

    #user-legend {
      height: 40%;
      box-shadow: 2px 2px 15px #a5aaaaea;
      background-color: rgba(246, 248, 248, 0.93);

      #user-legend-header {
        color: $received-background;
      }

      ul {
        border-radius: 20px;
        margin: 0 15px 15px;
        text-align: left;

        li {
          list-style-type: none;
        }
      }
    }
  }

  .vertical-divider {
    width: 1px;
    background-color: rgba(0, 0, 0, 0.48);
  }

  .chatroom-box {
    padding: 10px 0;
    width: 20vw;
    min-width: 350px;
    display: grid;
    height: 100px;
    // background-color: rgb(246, 246, 247);
    // border-bottom: 1px solid rgb(216, 233, 231);

    &:hover {
      background-color: rgba(144, 143, 143, 0.242);
    }

    .chatroom-box-content {
      background-color: $skyblue;
      border-radius: 20px;
      margin: 0 20px;
      box-shadow: 2px 2px 15px #a5aaaaea;
      position: relative;

      .edit-room-icon {
        position: absolute;
        right: 10px;
      }
    }

    &.active {
      background-color: $gray;
    }
  }

  // @media only screen and (max-width: 800px) {
  //   #chatroom-div {
  //     display:none;
  //   }
  // }
}
