@import "global";

#chats-div {
  border-radius: 20px;
  border-width: 20px;
  border: solid;
  border-color: #a2caa4f4;
  border-width: 1.5px;
  box-shadow: 2px 2px 15px #0b0c0cea;
  height: 85vh;
  margin: auto;
  width: 50%;
  max-width: 850px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 247);

  #sidebar-icon-in-chat {
    color: rgba(0, 0, 0, 0.557);
    width: 30px;
    height: 30px;
    margin: 5px;
    position: fixed;
    // margin-right:0;
    // display:flex;
    // justify-self: flex-end;
  }

  #emptyChat-message {
    color: rgba(17, 47, 47, 0.369);
    margin-top: -10px;
    font-size: smaller;
  }

  #messages-container {
    height: 100%;
    overflow-y: auto;
  }

  h4 {
    color: rgb(125, 125, 140);
    margin-top: 50px;
  }

}

#message-form {
  display: flex;
  margin: auto 5px 5px 5px;
  border-top: solid;
  border-color: rgb(181, 181, 183);
  padding-top: 10px;
  align-items: center;

  input {
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.926);
    box-shadow: none;
    width: 100%;
    min-height: 35px;
    height: 10%;
    border: 0;
    margin: auto 10px;
  }

  button {
    width: 100px;
    border: none;
    color: rgb(73, 69, 69);
    background-color: #5ddf95;
    border-radius: 15px;
    padding: 5px 10px;
  }
}

#chat-buttons {
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
  border-color: rgb(181, 181, 183);
  border-width: 1.3px;
  position: relative;

  #clear {
    background-color: rgb(243, 111, 111);
    color: rgba(26, 24, 24, 0.956);
    padding: 5px 15px;
    position: absolute;
  }

  #refresh {
    border: solid;
    border-width: 1px;
  }

  button {
    padding: 5px;
    right: 0%;
    margin: 8px 5px;
    border-radius: 15px;
  }
}

#back-signout-buttons {
  justify-content: space-between;
  display: flex;
  margin-bottom: 5px;

  button {
    position: relative;
    background-color: transparent;
    color: rgb(73, 69, 69);
    border: none;

    z-index: 2;
    &:hover {
      transform: scale(1.5);
    }
  }
}

@media only screen and (max-width: 800px) {
  #chats-div {
    height: 80vh;
    min-width: 80vw;
  }

  #sidebar-icon-in-chat {
    display: block;
  }
}
