#message-container {
  display:flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;

  .message-date {
    font-size:10px;
    margin: 0;
    text-align: right;
  }
}

.sent{
  display:grid;
  background: rgba(145, 176, 247, 0.48);
  color:rgb(73, 69, 69);
  margin: 0 50px 10px 3px;
  border-radius: 10px;
  text-align:left;
  padding-left:20px;
  padding-right:10px;
  width:fit-content;
  max-width: 80%;
    .message-content{
      word-wrap: break-word;
      max-width: 100%; 
      margin: 5px 0 5px 0;
    }
}

.received{
  background-color: rgba(78, 113, 241, 0.867);
  color:rgb(233, 226, 226);
  margin: 0 3px 10px 75px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  padding-right:20px;
  align-self: flex-end;
  display:flex; 
  width:fit-content;
  max-width: 80%;
  
  .message-content{
    word-wrap: break-word;
    max-width: 80%; 
    margin: 5px 0 5px 0;
  }

  .message-date {
    text-align: left !important;
    
  }
}
