@import "../../assets/global";

#CreateAccountModal-overlay {
  background-color: rgba(213, 209, 209, 0.787);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;

  #CreateAccountModal-form {
    background-color: rgba(209, 209, 215, 0.788);
    border-radius: 15px;
    width: 300px;
    height: 250px;
    margin-top: -20%;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.571);
    position: relative;

    #create-account-header {
      color: rgb(73, 69, 69);
    }

    .create-account-input {
      border: none;
      border-radius: 5px;
      margin: 5px;
    }

    #submit-btn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: rgb(73, 69, 69);
      background-color: rgb(76, 202, 76);
      border-radius: 5px;
      
      &:hover {
        scale: 1.05;
        color: $skyblue;
      }
    }
  }
}
